{% extends '__base__.html' %}

{% block title %} {{ blog.name }}  {% endblock %}

{% block beforehead %}
	<script>
        var comment_url = '/api/blogs/{{ blog.id }}/comments';
		$(function () {
    		var $form = $('#form-comment');
            $form.submit(function (e) {
                e.preventDefault();
                $form.showFormError('');
                var content = $form.find('textarea').val().trim();
                if (content==='') {
                    return $form.showFormError('请输入评论内容！');
                }
                $form.postJSON(comment_url, { content: content }, function (err, result) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    refresh();
                });
            });
	   });
	</script>

{% endblock %}

{% block content %}
    <div class="post">
        <h3 class="date">{{ blog.created_at|datetime }}</h3>
        <h1>{{ blog.name }}</h1>
        <p>{{ blog.html_content|safe }}</p>
        <div class="content" v-html="post.content"> </div>
        <hr/>
        <h3>发表评论</h3>
        <article class="uk-comment">
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>
        <hr/>
        <h3>最新评论</h3>
        <ul class="uk-comment-list">
            {% for comment in comments %}
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.user_image }}">
                        <h4 class="uk-comment-title">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>
                        <p class="uk-comment-meta">{{ comment.created_at|datetime }}</p>
                    </header>
                    <div class="uk-comment-body">
                        {{ comment.html_content|safe }}
                    </div>
                </article>
            </li>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </ul>
    </div>
    <!-- 
    <a id="newer" class="blog-nav">&lt;&nbsp;NEWER</a>
    <a id="older" class="blog-nav">OLDER&nbsp;&gt;</a> 
    -->
{% endblock %}