@charset "gb2312";
.lip_container_center{
	margin-top: 52px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font: 24px "宋体", Arial, Helvetica, sans-serif;
}

.backgroudColor {
	background: #fff
}

.blogList {
	margin: auto;
	width: 600px;
}
